<nb-card>
  <nb-card-header>Choose an event</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-6 col-sm-4" *ngFor="let item of events">
        <div class="img-container" (click)="onClick(item.id)">
          <img
            class="img"
            src="https://firebasestorage.googleapis.com/v0/b/pidev-405b8.appspot.com/o/{{
              item.banner
            }}?alt=media"
            alt="alt"
          />
          <div class="top-right">
            <div class="date">
              <span class="date-day">{{ item.startDate | date: "dd" }}</span>
              <span class="date-month">
                {{ item.startDate | date: "MMM" }}
              </span>
            </div>
          </div>
          <div class="bottom-left">
            <div class="event-info">
              <div class="event-name">{{ item.name }}</div>
              <div class="event-place">
                <div class="pin-icon">
                  <nb-icon icon="pin"></nb-icon>
                </div>
                <span class="place-name"
                  >{{ item.venue }}, {{ item.city }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card size="medium">
  <nb-card-header> Choose users to invite </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let user of users">
      <nb-user name="{{ user.firstname }} {{ user.lastname }}" title="{{ user.departement }}" (click)="addUser(user.id)"></nb-user>
    </nb-list-item>
  </nb-list>
</nb-card>
