.map {
  width: 600px;
  height: 450px;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 30px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 12px;
  border-radius: 3px;
}
