<div class="row mt-5 position-relative">
  <div class="col-5">
    <h3 *ngIf="!isLoggedIn">Angular</h3>
    <h3 *ngIf="isLoggedIn">
      {{ currentUser.firstname + " " + currentUser.lastname }}
    </h3>
  </div>
  <div class="col-2">
    <a class="btn btn-primary btn-md" *ngIf="!isLoggedIn" routerLink="/login"
      >Login</a
    >
    <a
      class="btn btn-danger btn-md"
      *ngIf="isLoggedIn"
      routerLink="/logout"
      (click)="logout()"
      >Logout</a
    >
  </div>
  <div class="col-5">
    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container position-absolute top-0 end-0 p-3">
        <ngb-toast
          header="Hello"
          *ngFor="let item of notifications"
          [autohide]="false"
          [animation]="false"
          aria-live="assertive"
          aria-atomic="true"
          role="alert"
          (hide)="true"
          (show)="true" 
        >
          <ng-template ngbToastHeader>
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
          </ng-template>
          <span>{{ item.content }}</span>
        </ngb-toast>
      </div>
    </div>
  </div>
</div>
