<div class="row">
  <div class="col-xl-12">
    <div
      class="chat-wrapper p-3 w-100 position-relative scroll-bar bg-white theme-dark-bg"
    >
      <h2
        class="fw-700 mb-4 mt-2 font-md text-grey-900 d-flex align-items-center"
      >
        Notifications
        <span
          class="circle-count bg-warning text-white font-xsssss rounded-3 ms-2 ls-3 fw-600 p-2 mt-0"
          >{{ unseen }}</span
        >
        <a href="#" class="ms-auto btn-round-sm bg-greylight rounded-3"
          ><i class="feather-hard-drive font-xss text-grey-500"></i
        ></a>
        <a href="#" class="ms-2 btn-round-sm bg-greylight rounded-3"
          ><i class="feather-alert-circle font-xss text-grey-500"></i
        ></a>
        <a href="#" class="ms-2 btn-round-sm bg-greylight rounded-3"
          ><i class="feather-trash-2 font-xss text-grey-500"></i
        ></a>
      </h2>

      <ul class="notification-box">
        <li
          *ngFor="let item of notifications"
          [ngClass]="!item?.isSeen && !seen[item?.id || 0] ? 'bg-lightblue theme-light-bg' : ''"
          class="mb-2"
        >
          <a
            (click)="markAsSeen(item?.id)"
            [routerLink]="'/events/' + item?.eventId"
            class="d-flex align-items-center p-3 rounded-3 cursor-pointer"
          >
            <img
              src="https://via.placeholder.com/50x50.png"
              alt="user"
              class="w45 me-3"
            />
            <i
              class="feather-heart text-white bg-red-gradiant me-2 font-xssss notification-react"
            ></i>
            <h6
              class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"
            >
              {{ item?.content }}
              <span
                class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"
              >
                {{ item?.sentAt | amTimeAgo }}
              </span>
            </h6>
            <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
